.container {
  // remove flex box on smaller devices
  @media (min-width: 992px) {
    display: flex;
  }
  min-height: 100vh;
  max-width: 100vw;
  padding: 0;
  margin: 0;
}

.sidebar {
  // screens smaller than 992 pixels wide, will have the hamburger menu, Screen larger than 992 will have a sidebar styled.
  @media (min-width: 992px) {
    flex: 1 1 0;
    max-width: 14vw;
    background-color: #f7f7f7;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  a:hover {
    color: whitesmoke;
    background-color: lightskyblue;
  }
}

.content {
  flex: 1 1 0;
  padding: 0 2rem 2rem 2rem;
}

.loader-spinner .modal-content {
  // Removing modal background and border
  background-color: rgba(0, 0, 0, 0);
  border: 0ch;
}

.fs-huge {
  font-size: 20vw;
}

.login-card {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
}

.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid #e7195a;
  color: #e7195a;
  border-radius: 4px;
  margin: 20px 0;
}